In [1]:
#Ques 1:- Try 5 different functions of string in python.

# I operation - concatenation(+)

str1 = "hello"
str2 = "python"
print( str1 + str2)

hellopython

In [3]:
# II operation - Repetition(*)

str = "BHUMIKA "
print(str*3)

BHUMIKA BHUMIKA BHUMIKA

In [4]:
# III operation - length

a = " Hello I am Bhumika Wadia"
len(a)

25

In [5]:
# IV operation - lower()

c = "HELLO PYTHON PROGRAMMERS "
c.lower()

'hello python programmers '

In [6]:
# V operation - title()

q = "hello welcome to python learning"
q.title()

'Hello Welcome To Python Learning'

In [12]:
#Ques-2:- Try 5 Different functions of the List object in Python.

# I operation - append()

seq = [10, 20, 30, 40]
seq.append(50)
print(seq)

[10, 20, 30, 40, 50]

In [13]:
# II- operation - extend()

seq.extend([50,60,70,80,90,100])
print(seq)

[10, 20, 30, 40, 50, 50, 60, 70, 80, 90, 100]

In [14]:
#III - operation - reverse()

seq.reverse()
print(seq)

[100, 90, 80, 70, 60, 50, 50, 40, 30, 20, 10]

In [15]:
#IV-operation - sort()

seq1 = [1,2,3,2,1,4,5,7,4,6,7,8,5]
seq1.sort()
print(seq1)

[1, 1, 2, 2, 3, 4, 4, 5, 5, 6, 7, 7, 8]

In [17]:
# V- operation - insert(index, value)
seq2 = [ 1,2,3,4]
seq2.insert(4,5)
print(seq2)

[1, 2, 3, 4, 5]

In [18]:
#Ques-3:- Experiment with at least 5 default functions of Dictionary

# I- operation - clear()

dict = {"name":"abc","Rno":123,"course":"b.tech"}
dict.clear()
print(dict)

{}

In [24]:
# II operation - update()

d = {"name":"abc","Rno":123,"course":"b.tech"}
d.update( {"branch":"CSE","place":"xyz"})
print(d)

{'name': 'abc', 'Rno': 123, 'course': 'b.tech', 'branch': 'CSE', 'place': 'xyz'}

In [26]:
#III operation - values()

d.values()

dict_values(['abc', 123, 'b.tech', 'CSE', 'xyz'])

In [33]:
# IV operation - get()

d1 = {"name":"abc","Rno":123,"course":"b.tech","branch":"CSE","place":"xyz"}
d1.get("Rno")

123

In [39]:
# V- operation: -pop()
dict1 = {"name":"abc","Rno":123,"course":"b.tech","branch":"CSE","place":"xyz"}
dict1.pop("place")
print(dict1)

{'name': 'abc', 'Rno': 123, 'course': 'b.tech', 'branch': 'CSE'}